*{
    margin: 0;
    padding: 0;
}
html{
    
   
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0.699), rgba(0, 0, 0, 0.562)), url('/images/bg.png') no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
nav{
    height: 100%;
    width: 15%;
    background-color:#0B360F;
    font-family: Arial;
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
}
nav ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin-bottom: 100px;
}
nav li{
    
    padding: 1rem;
    height: 100%;
    width: 80%;
}
nav a{
    display: flex;
    text-align: center;
    color: inherit;
    text-decoration: none;
    font-size: 25px;
    height: 100%;
    letter-spacing: 3px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
nav p{
    font-size: 15px;
    margin-top: -15px;
}
nav li.active{
    color: #A2B92F;
    text-decoration: dashed;
    border-bottom:solid 3px;
}
nav img{
    height: 80px;
}
nav h1 {
    font-size: 20px;
    
}
#logo{
    margin-top: -10px;
}
nav li:hover{
    background-color: rgba(128, 128, 128, 0.219);
}
/* container */
.container{
    display: flex;
    width: 100%;
    padding: 40px;
    flex-direction: column;
}
.title{
    margin-bottom: 100px;
}
.dashboardContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 100%;
    
}
.dashboardContainer ul{
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.dashboardContainer a{
   color:inherit;
   text-decoration: none;
}
.dashboardContainer li{
    border-radius: 10px;
    height: 20vh;
    width: 30vh;
    display: flex;
    flex-direction: column;
}
.dashboardContainer h1{
    font-weight: bolder;
    width: 100%;
    text-align: center;
    border-bottom: solid 3px rgba(255, 255, 255, 0.637);
    font-size: 25px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dashboardContainer p{
    font-size: 60px;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}.dashboardContainer li:nth-child(1){
    background-color: orangered;
    }.dashboardContainer li:nth-child(2){
        background-color: forestgreen;
        }
        main{
            display: flex;
            flex-direction: column;
            }
            table {
                margin-top: 20px;
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
                border: solid 3px;
              }
              
              td, th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
              }
              th{
                height: 30px;
                font-size: 20px;
                border: 3px solid #dddddd;
                background-color: firebrick;
              }
              
              tr:nth-child(even) {
                background-color: #dddddd47;
              }
              td button{
                width: 100%;
                background: transparent;
                color: white;
                border-style: none;
                cursor: pointer;
              }
              .container{
                display: flex;
                width: 100%;
                padding: 40px;
                flex-direction: column;
              }