*{
    margin: 0;
    padding: 0;
}

html{

    scroll-behavior: smooth;
}
body{
    height: 100%;   
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.699), rgba(0, 0, 0, 0.562)), url('/images/bg.png') no-repeat;
    background-size: cover;
    background-attachment: fixed;
}





/*Navigation*/
nav{
    font-family: Arial;
    height: 15vh;
    display: flex;
    color: rgb(255, 255, 255);
    align-items: center;
    justify-content: space-between;
    top: 0;
    position: sticky;
    
    
} 

nav ul{
    list-style: none;
    display: flex;
    
}
nav li{
    padding: 1rem;
    height: 100%;
}
nav a{
    color: inherit;
    text-decoration: none;
    font-size: 25px;
    letter-spacing: 3px;
    height: stretch;
}
nav img{
    height: 100px;
}  
nav #mcName{
    font-size: 14px;
    margin-top: -25px;
}
nav h1{
    margin-left: 20px;
    font-family: cursive;
    letter-spacing: 2px;
    text-align: center;
}
nav li.active{
    color:greenyellow;
    text-decoration: dashed;
    border-bottom: solid;
    background-color: rgba(128, 128, 128, 0.281);
    
}
nav li:hover{
    background-color: gray;
}
#userProfile{
    height: 50px;
    border-radius: 25px;
}

/*HOME PAGE*/

.landing_Page{
    color: white;
height: 100vh;
display: flex;
flex-direction: column;
align-items: center;

}
.landing_Page h1{
    
    text-transform: balance;
    margin-top: 15vh;
    font-size: 67px;
    font-weight: 100;
}
.landing_Page button{
    margin-top: 10vh;
    background-color: #A2B92F;
    width: 40vh;
    height: 7vh;
    border-radius: 50px;
    font-size: 22px;
    border:none;
}
.landing_Page a{
    text-decoration: none;
    color:inherit;
}
/*mihanz-information*/
.mihanz-info{
    
    color: white;
    background-color: #0B360F;
    display:flex;
    height: 100vh;
    justify-content: space-evenly;
}
.mihanz-info h1 {
    font-size: 67px;
    margin: 5vh;
    font-weight: 100;
    
}
.mihanz-info #p2 {
    font-size: 24px;
    width: 60%;
    word-spacing: 2px;
    text-align: justify;
}
.mihanz-info h1 #p1{
    font-size: 30px;
}
.mihanz-info h1,p {
    margin-top: 15vh;
}
/*reservation-information*/
.reservation-Info{
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: white;
    background-color: #0B360F;
}
.reservation-Info h1{
    font-size: 67px;
    margin: 5vh;
    font-weight: 100;
}
.reservation-Info ul{
    list-style: disc;
    margin: 5vh;
}
.reservation-Info li{
    font-size: 24px;
    
}
.reservation-Info a{
    text-decoration: none;
    color: inherit;
}
.reservation-Info button{
    margin-top: 10vh;
    background-color: #A2B92F;
    width: 40vh;
    height: 7vh;
    border-radius: 50px;
    font-size: 22px;
    border:none;
    position: absolute;
    left:75%;
}
.landing_Page button:hover{
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
}
.reservation-Info button:hover{
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
}
/*calendar-dates*/
.calendar-Date{
    display: flex;
    gap: 10%;

    height: 100vh;
    color: white;
    background-color: #0B360F;

}
.calendar-Date h1{
    font-size: 67px;
}
.calendar-Date p{
    margin: 0;
    font-size: 24px;
}
#green{
    color: green;
}
#red{
    color: red;
}

/* Menu Page */
.menu-Container{
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}
.menu-selection-Card{
    height: 40vh;
    width: 25vh;
    background-color: green;
}
.menu-Container h1{
    display: flex;
    font-weight: 100;
    font-size: 67px;
   margin-bottom: 100px;
}
.menu-Card-Selection{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}
.menu-Card-Selection a{
    text-decoration: none;
    color: inherit;
    display: flex;
    justify-content: center;
    height: 100%;
    font-size: 50px;
    font-weight: bolder;
    color: floralwhite;
}
    

.menu-Card-Selection li{
    height: 50vh;
    width: 40vh;
    margin: 20px;
    list-style: none;
    text-align: center;
    border-radius: 10px;
    
}
.menu-Card-Selection li:hover{
    box-shadow: 0px 0px 10px yellow;
    cursor: pointer;
}
.Food-Container{
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Food-Container h1{
    margin-bottom: 100px;
    font-size: 67px;
}
.Food-Container ul{
    display: flex;
    gap: 2%;
    flex-wrap: wrap;
    justify-content: center;
}
.Food-Card-Menu{
    height: 40vh;
    width: 40vh;
    display: flex;
    margin-bottom: 100px;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  
 
    border-radius: 20px;
    cursor: pointer;
}

/* .Food-name h2{
    color: white;
    margin-top: 14%;
    font-weight: 100;
} */
.foodimg:hover{
    height: 250px;
    width: 350px;
    
}
.Food-name{
    font-family: Arial;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}
.foodimg{
    height: 200px;
    width: 300px;
    border-radius: 10px;
    
}
.Food-Description{
    font-size: 20px;
}
.back-btn{
    height: 30px;
    width: 60px;
    position: absolute;
    float: left;
    margin-top: 17px;
    left: 10%;
    background-color: transparent;
    border-style: none;

}
.back-btn a{
    text-decoration: none;
    font-size: 50px;
    color: white;
}
.back-btn :hover{
    color: yellowgreen;
}
/* UserProfile */
.container{
    display: flex;
}
.userNav{
    display: flex;
    height: 100%;
    width: 20%;
    flex-direction: column;
}.userNav ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
    height: 100%;
    justify-content: space-around;
}
/* FOOTER */
footer{
    height: 70vh;
    display: flex;
    flex-direction: column;
    background-color: #000000;
    font-family: Arial;
    color: white;
}
footer h1{

    font-size: 67px;
    margin-top: 10vh;
    margin-left: 15vh;
    margin-bottom: 10vh;
    font-weight: 100;
}
footer ul{
    display: flex;
    justify-content: space-around;
    
}
footer li{
   list-style: none;
}
footer label{
    font-size: 24px;
}
footer a{
    text-decoration: none;
    color: inherit;
    font-size: 24px;
}
footer a:hover{
    color: yellowgreen;
}
.userProfileContainer{
    display: flex;
}
/* MENU */
.menu-Card-Selection li:nth-child(1){
    background-image: linear-gradient(rgba(0,0,0,50%),rgba(0,0,0,50%)),url(/USER/IMAGES/crispy\ pata\ \(pork\ menu.jpg);
    background-size: cover ;
    background-position: center
}.menu-Card-Selection li:nth-child(2){
    background-image: linear-gradient(rgba(0,0,0,50%),rgba(0,0,0,50%)),url(/USER/IMAGES/caldereta\ beef\ \(beef\ menu\).jpg);
    background-size: cover ;
    background-position: center
}.menu-Card-Selection li:nth-child(3){
    background-image: linear-gradient(rgba(0,0,0,50%),rgba(0,0,0,50%)),url(/USER/IMAGES/ChickenMenu.jpg);
    background-size: cover ;
    background-position-x: -64px;
}.menu-Card-Selection li:nth-child(4){
    background-image: linear-gradient(rgba(0,0,0,50%),rgba(0,0,0,50%)),url(/USER/IMAGES/sweet\ n\ sour\ fish\ fillet.jpg);
    background-size: cover ;
    background-position: center;
}.menu-Card-Selection li:nth-child(5){
    background-image: linear-gradient(rgba(0,0,0,50%),rgba(0,0,0,50%)),url(/USER/IMAGES/seafood.jpg);
    background-size: cover ;
    background-position: center;
}.menu-Card-Selection li:nth-child(6){
    background-image: linear-gradient(rgba(0,0,0,50%),rgba(0,0,0,50%)),url(/USER/IMAGES/chicken-pancit-sotanghon-guisado-recipe.jpg);
    background-size: cover ;
    background-position: center;
}.menu-Card-Selection li:nth-child(7){
    background-image: linear-gradient(rgba(0,0,0,50%),rgba(0,0,0,50%)),url(/USER/IMAGES/vegetable.jpg);
    background-size: cover ;
    background-position: center;
}.menu-Card-Selection li:nth-child(8){
    background-image: linear-gradient(rgba(0,0,0,50%),rgba(0,0,0,50%)),url(/USER/IMAGES/filipino-fruit-salad-1.jpg);
    background-size: cover ;
    background-position: center;
}.menu-Card-Selection li:nth-child(9){
    background-image: linear-gradient(rgba(0,0,0,50%),rgba(0,0,0,50%)),url(/USER/IMAGES/Southern-Sweet-Tea-3-of-6-scaled.jpg);
    background-size: cover ;
    background-position: center;
    background-position-y: -64px;
}
.menu-Card-Selection a:hover{
    font-size: 60px;
    background:linear-gradient(rgba(0,0,0,50%),rgba(0,0,0,50% ));
    border-radius: 10px;
}
.userProfileContainer{
    display: flex;
    justify-content: center;
    height: 100vh;

}
.userProfileContainer ul{
    list-style: none;
    color: black;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 5%;
    text-align: center;
}
.userProfileContainer li{
    background: rgb(255, 255, 255);
    height: 5vh;
    width: 60vh;
    font-size: 30px;
    border-radius: 10px;
}
#userImage{
    height: 20vh;
    width: 20vh;
    border: solid;
    border-radius: 20px; 
}
#btn-update{
    background-color: yellowgreen;
    width: 24vh;
    height: 5vh;
    margin: 20px;
    border-radius: 6px;
    font-size: 22px;
    border:none;
}
/* carousel */
.slides-container {
    height: calc(100vh - 2rem);
    width: 100%;
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .slide-arrow {
    position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 4rem;
    background-color: white;
    border: none;
    width: 2rem;
    font-size: 3rem;
    padding: 0;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 100ms;
  }
  
  .slide-arrow:hover,
  .slide-arrow:focus {
    opacity: 1;
  }
  
  #slide-arrow-prev {
    left: 0;
    padding-left: 0.25rem;
    border-radius: 0 2rem 2rem 0;
  }
  
  #slide-arrow-next {
    right: 0;
    padding-left: 0.75rem;
    border-radius: 2rem 0 0 2rem;
  }
  
  .slide {
    width: 100%;
    height: 100%;
    flex: 1 0 100%;
  }
  
  

 .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    font-family: Arial;
    color: #000000;
    background-color: wheat;
    padding: 20px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: row-reverse;
}
.modal-content img{
    height: 200px;
    width: 300px;
}

.close {
    position: absolute;
    top: -5px;
    right: 1px;
    cursor: pointer;
    color: red;
    font-size:  40px;
}
#foodName{
    margin-bottom:20px;
    font-size: 40px;
    font-weight: 100;
}
#foodDescription{
    margin:0px;
    height: 150px;
    width: 300px;
    font: menu;
    font-size: 15px;
    
} 


.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

table, th, td {
    text-align: left;
}



@media (max-width: 768px) {
    table {
        font-size: 14px;
    }

    th, td {
        padding: 5px;
    }
}
