*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}
body{
    height: 100%;   
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.699), rgba(0, 0, 0, 0.562)), url('/images/bg.png') no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
/*Navigation*/
/*Navigation*/
nav{
    font-family: Arial;
    height: 15vh;
    display: flex;
    color: rgb(255, 255, 255);
    align-items: center;
    justify-content: space-between;
    top: 0;
    position: sticky;
    
    
}   
nav ul{
    list-style: none;
    display: flex;
    
}
nav li{
    padding: 1rem;
    height: 100%;
}
nav a{
    color: inherit;
    text-decoration: none;
    font-size: 25px;
    letter-spacing: 3px;
    height: stretch;
}
nav img{
    height: 100px;
}  
nav #mcName{
    font-size: 14px;
    margin-top: -25px;
}
nav h1{
    margin-left: 20px;
    font-family: cursive;
    letter-spacing: 2px;
    text-align: center;
}
nav li.active{
    color:greenyellow;
    text-decoration: dashed;
    border-bottom: solid;
    background-color: rgba(128, 128, 128, 0.281);
    
}
nav li:hover{
    background-color: gray;
}
#userProfile{
    height: 50px;
    border-radius: 25px;
}



.Services-Container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-bottom: 100px;

}
.Services-Container .bd{
    background:linear-gradient( rgba(0, 0, 0, 0.400), rgba(0, 0, 0, 0.400)), url("../PHP/servicesPromo/img/filbd.jpg"), no-repeat;
    background-size: cover;
    background-position: center;

}
.Services-Container .bd:hover{
    background:linear-gradient( rgba(0, 0, 0, 0.800), rgba(0, 0, 0, 0.800)), url("../PHP/servicesPromo/img/filbd.jpg"), no-repeat;
    background-size: cover;
    background-position: center;
}
.Services-Container .bp{
    background:linear-gradient( rgba(0, 0, 0, 0.400), rgba(0, 0, 0, 0.400)), url("../PHP/servicesPromo/img/filb.jpg"), no-repeat;
    background-size: cover;
    background-position: center;
}
.Services-Container .bp:hover{
    background:linear-gradient( rgba(0, 0, 0, 0.800), rgba(0, 0, 0, 0.800)), url("../PHP/servicesPromo/img/filb.jpg"), no-repeat;
    background-size: cover;
    background-position: center;
    
}
.Services-Container a:hover{
    font-size: 60px;
}


.Services-Container h1 {
    font-size: 67px;
    margin-bottom: 100px;
}
.Services-Container ul{
    display: flex;
    list-style: none;
    width: 100%;
    gap: 10%;
    justify-content: center;
   
    
}
.Services-Container a{
    text-decoration: none;
    color:white;
    display: flex;
    justify-content: center;
    height: 100%;
    font-weight: bolder;
    font-size:  55px;
    align-items: center;
}

.Services-Container li{
    height: 60vh;
    width: 40vh;
    border-radius: 20px;
    background: linear-gradient(75deg, rgba(166, 2, 199, 0.500),rgba(255, 0, 140, 0.500));
}
.Services-Container li:hover{
    box-shadow: 0px 0px 10px yellow;
}
.Event-Container h1{
    margin-bottom: 100px;
    font-size: 67px;
}
.Event-Container{
    color:white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   
}
.Event-Container ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 100px;
    
}
.Event-Container li {
    display: flex;
    justify-content: center;
    height:15vh;
    width: 40vh;
    margin: 35px;
    border-radius: 20px;
    background: linear-gradient(45deg, rgba(1, 81, 255, 0.74), rgba(255, 2, 171, 0.678));
}
.Event-Container li:hover{
    box-shadow: 0px 0px 20px yellowgreen;
}
.Event-Container li h1{
    margin: 0;
    font-weight: 100;
    font-size: 30px;
}
.Event-Container p{
    margin: 0;
    margin-top: 20px;
    font-size: 25px;
}
.Event-Container a{
    text-decoration: none;
    color: inherit;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.Birthday-Package-Information{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.Birthday-Package-Information h1{
    font-weight: 100;
    font-size: 67px;
    margin-bottom: 50px;
}
.Birthday-Package-Information h2{
    font-weight: 100;
    font-size: 52px;
}
.Birthday-Package-Information li{
    font-size: 23px;
    margin: 10px;
}
.Button-Proceed{
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    width: 100%;
    position: relative;
    left: 75%;
}
.Button-Proceed button{
    width: 30vh;
    background-color: #A2B92F;
    height: 7vh;
    border-radius: 50px;
    font-size: 22px;
    border:none;
}
.Button-Proceed button a{
    text-decoration: none;
    color: inherit;
    width: 100%;
}
.BDPForm-Container{
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.BDPForm-Container form{
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 100px;
    align-items: center;
}
.BDPForm-Container label{
    font-size: 30px;
}
.BDPForm-Container input{
    font-size: 30px;
    height: 5vh;
    width: 60vh;
    position: relative;
    margin: 20px;
}
.BDPForm-Container h1{
    font-weight: 100;
    font-size: 67px;
}
.rg-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    width: 100%;
    align-items: center;
}
.Generate-btn {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    position: relative;
    right: 20%;
}
.rg-container li{
    font-size: 25px;
    margin: 20px;
    list-style: none;
}
.Generate-btn button{
    width: 30vh;
    background-color: #A2B92F;
    height: 7vh;
    border-radius: 50px;
    font-size: 22px;
    border:none;
    margin: 20px;
}
.Generate-btn a{
    text-decoration: none;
    color:inherit;
}
.Reservation-Container{
display: flex;
justify-content: center;
color:white;
flex-direction: column;
    align-items: center;
}
.Reservation-Container h1{
    margin-bottom: 100px;
    font-size:67px;
}
.back-btn a{
    text-decoration: none;
    font-size: 50px;
    color: white;
}
.back-btn :hover{
    color: yellowgreen;
}
.btn-position{
    display: flex;
}
/* Footer */
footer{
    height: 70vh;
    display: flex;
    flex-direction: column;
    background-color: #000000;
    font-family: Arial;
    color: white;
}
footer h1{

    font-size: 67px;
    margin-top: 10vh;
    margin-left: 15vh;
    margin-bottom: 10vh;
    font-weight: 100;
}
footer ul{
    display: flex;
    justify-content: space-around;
    
}
footer li{
   list-style: none;
}
footer label{
    font-size: 24px;
}
footer a{
    text-decoration: none;
    color: inherit;
    font-size: 24px;
}
footer a:hover{
    color: yellowgreen;
}

/* Promos */
.promo-container{
    display: flex;
    height: 100vh;
    justify-content: center;
}
#promo{
    height: 70%;
    border-radius: 10px;
    
}

    

.promo-btn {
    height: 25px;
    width: 100px;
    position: absolute;
    bottom: 16%;
    border-radius: 5px;
    right: 23%;
    font-size: 20px;
    border-style: none;
    cursor: pointer;
    background-color: #A2B92F;
}
.promo-btn:hover{
    background-color: orange;
}
.back-btn{
    text-decoration: none;
    color: aliceblue;
    font-weight: bolder;
    font-size: 40px;
    position: absolute;
    top: 14%;
    left: 23%;
}